In [120]:
import sqlalchemy as db
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

Base = declarative_base()

# Question 1: Create Table.
# Table Name = StudentID + Name
# Three Columns, sid (Integer, Primary), Name and Grade
class Student(Base):

    __tablename__ = "2100582LauJunXiang"

    sid = db.Column("sid", db.Integer, primary_key = True)
    name = db.Column("name", db.String)
    grade = db.Column("grade", db.String)

    def __init__(self, sid, name, grade):
        self.sid = sid
        self.name = name
        self.grade = grade

    def __repr__(self):
        return f"({self.sid}) {self.name} {self.grade}"

# Create the database to run.
# No specification to use specific database, so I chose to use SQLite.
engine = db.create_engine("sqlite:///jx.db", echo = True)
Base.metadata.create_all(bind=engine)
Session = sessionmaker(bind=engine)
session = Session()

2022-12-31 18:12:36,165 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-31 18:12:36,166 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("2100582LauJunXiang")
2022-12-31 18:12:36,166 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-31 18:12:36,166 INFO sqlalchemy.engine.Engine COMMIT

In [121]:
# Question 2
# Check if table is empty
# If not, display all rows.

if session.query(Student).count() > 0:
    for row in session.query(Student).all():
        print("SID: " + str(row.sid) + " Name: " + row.name + " Grade: " + row.grade)
else:
    print("Empty Table!")

2022-12-31 18:12:36,201 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-31 18:12:36,203 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT "2100582LauJunXiang".sid AS "2100582LauJunXiang_sid", "2100582LauJunXiang".name AS "2100582LauJunXiang_name", "2100582LauJunXiang".grade AS "2100582LauJunXiang_grade"
FROM "2100582LauJunXiang") AS anon_1
2022-12-31 18:12:36,204 INFO sqlalchemy.engine.Engine [generated in 0.00048s] ()
Empty Table!

In [122]:
# Question 3
# Add new student (myself)
# sid = student id
# name = my name
# grade = NA

if session.query(Student).filter_by(name = "Lau Jun Xiang").count() < 1:
    student1 = Student(2100582, "Lau Jun Xiang", "NA")
    session.add(student1)
    session.commit()

if session.query(Student).count() > 0:
    for row in session.query(Student).all():
        print("SID: " + str(row.sid) + " Name: " + row.name + " Grade: " + row.grade)
else:
    print("Empty Table!")

2022-12-31 18:12:36,228 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT "2100582LauJunXiang".sid AS "2100582LauJunXiang_sid", "2100582LauJunXiang".name AS "2100582LauJunXiang_name", "2100582LauJunXiang".grade AS "2100582LauJunXiang_grade"
FROM "2100582LauJunXiang"
WHERE "2100582LauJunXiang".name = ?) AS anon_1
2022-12-31 18:12:36,229 INFO sqlalchemy.engine.Engine [generated in 0.00052s] ('Lau Jun Xiang',)
2022-12-31 18:12:36,229 INFO sqlalchemy.engine.Engine INSERT INTO "2100582LauJunXiang" (sid, name, grade) VALUES (?, ?, ?)
2022-12-31 18:12:36,230 INFO sqlalchemy.engine.Engine [generated in 0.00026s] (2100582, 'Lau Jun Xiang', 'NA')
2022-12-31 18:12:36,230 INFO sqlalchemy.engine.Engine COMMIT
2022-12-31 18:12:36,231 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-31 18:12:36,232 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT "2100582LauJunXiang".sid AS "2100582LauJunXiang_sid", "2100582LauJunXiang".name AS "2100582LauJunXiang_name", "2100582LauJunXiang".grade AS "2100582LauJunXiang_grade"
FROM "2100582LauJunXiang") AS anon_1
2022-12-31 18:12:36,232 INFO sqlalchemy.engine.Engine [cached since 0.02866s ago] ()
2022-12-31 18:12:36,233 INFO sqlalchemy.engine.Engine SELECT "2100582LauJunXiang".sid AS "2100582LauJunXiang_sid", "2100582LauJunXiang".name AS "2100582LauJunXiang_name", "2100582LauJunXiang".grade AS "2100582LauJunXiang_grade"
FROM "2100582LauJunXiang"
2022-12-31 18:12:36,233 INFO sqlalchemy.engine.Engine [generated in 0.00031s] ()
SID: 2100582 Name: Lau Jun Xiang Grade: NA

In [123]:
# Question 4
# insert two more students
# (with sid 2102345, name ‘Arya Stark’, and grade ‘NA’)
# (with sid 2103456, name ‘Jon Snow’, and grade ‘NA’)

if session.query(Student).filter_by(name = "Arya Stark").count() < 1:
    student2 = Student(2102345, "Arya Stark", "NA")
    session.add(student2)
    session.commit()

if session.query(Student).filter_by(name = "Jon Snow").count() < 1:
    student3 = Student(2103456, "Jon Snow", "NA")
    session.add(student3)
    session.commit()

if session.query(Student).count() > 0:
    for row in session.query(Student).all():
        print("SID: " + str(row.sid) + " Name: " + row.name + " Grade: " + row.grade)
else:
    print("Empty Table!")

2022-12-31 18:12:36,259 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT "2100582LauJunXiang".sid AS "2100582LauJunXiang_sid", "2100582LauJunXiang".name AS "2100582LauJunXiang_name", "2100582LauJunXiang".grade AS "2100582LauJunXiang_grade"
FROM "2100582LauJunXiang"
WHERE "2100582LauJunXiang".name = ?) AS anon_1
2022-12-31 18:12:36,262 INFO sqlalchemy.engine.Engine [cached since 0.03349s ago] ('Arya Stark',)
2022-12-31 18:12:36,264 INFO sqlalchemy.engine.Engine INSERT INTO "2100582LauJunXiang" (sid, name, grade) VALUES (?, ?, ?)
2022-12-31 18:12:36,264 INFO sqlalchemy.engine.Engine [cached since 0.03495s ago] (2102345, 'Arya Stark', 'NA')
2022-12-31 18:12:36,267 INFO sqlalchemy.engine.Engine COMMIT
2022-12-31 18:12:36,273 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-31 18:12:36,273 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT "2100582LauJunXiang".sid AS "2100582LauJunXiang_sid", "2100582LauJunXiang".name AS "2100582LauJunXiang_name", "2100582LauJunXiang".grade AS "2100582LauJunXiang_grade"
FROM "2100582LauJunXiang"
WHERE "2100582LauJunXiang".name = ?) AS anon_1
2022-12-31 18:12:36,274 INFO sqlalchemy.engine.Engine [cached since 0.04552s ago] ('Jon Snow',)
2022-12-31 18:12:36,274 INFO sqlalchemy.engine.Engine INSERT INTO "2100582LauJunXiang" (sid, name, grade) VALUES (?, ?, ?)
2022-12-31 18:12:36,274 INFO sqlalchemy.engine.Engine [cached since 0.04491s ago] (2103456, 'Jon Snow', 'NA')
2022-12-31 18:12:36,275 INFO sqlalchemy.engine.Engine COMMIT
2022-12-31 18:12:36,276 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-31 18:12:36,276 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT "2100582LauJunXiang".sid AS "2100582LauJunXiang_sid", "2100582LauJunXiang".name AS "2100582LauJunXiang_name", "2100582LauJunXiang".grade AS "2100582LauJunXiang_grade"
FROM "2100582LauJunXiang") AS anon_1
2022-12-31 18:12:36,276 INFO sqlalchemy.engine.Engine [cached since 0.0732s ago] ()
2022-12-31 18:12:36,277 INFO sqlalchemy.engine.Engine SELECT "2100582LauJunXiang".sid AS "2100582LauJunXiang_sid", "2100582LauJunXiang".name AS "2100582LauJunXiang_name", "2100582LauJunXiang".grade AS "2100582LauJunXiang_grade"
FROM "2100582LauJunXiang"
2022-12-31 18:12:36,277 INFO sqlalchemy.engine.Engine [cached since 0.04456s ago] ()
SID: 2100582 Name: Lau Jun Xiang Grade: NA
SID: 2102345 Name: Arya Stark Grade: NA
SID: 2103456 Name: Jon Snow Grade: NA

In [124]:
# Question 5
# UPDATE Arya Stark grade to A-

AryaStark = session.query(Student).get(2102345)
print(AryaStark.name)

AryaStark.grade = "A-"
session.commit()

if session.query(Student).count() > 0:
    print(session.query(Student).all())
    for row in session.query(Student).all():
        print("SID: " + str(row.sid) + " Name: " + row.name + " Grade: " + row.grade)
else:
    print("Empty Table!")

Arya Stark
2022-12-31 18:12:36,302 INFO sqlalchemy.engine.Engine UPDATE "2100582LauJunXiang" SET grade=? WHERE "2100582LauJunXiang".sid = ?
2022-12-31 18:12:36,305 INFO sqlalchemy.engine.Engine [generated in 0.00224s] ('A-', 2102345)
2022-12-31 18:12:36,307 INFO sqlalchemy.engine.Engine COMMIT
2022-12-31 18:12:36,308 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-31 18:12:36,309 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT "2100582LauJunXiang".sid AS "2100582LauJunXiang_sid", "2100582LauJunXiang".name AS "2100582LauJunXiang_name", "2100582LauJunXiang".grade AS "2100582LauJunXiang_grade"
FROM "2100582LauJunXiang") AS anon_1
2022-12-31 18:12:36,310 INFO sqlalchemy.engine.Engine [cached since 0.1066s ago] ()
2022-12-31 18:12:36,311 INFO sqlalchemy.engine.Engine SELECT "2100582LauJunXiang".sid AS "2100582LauJunXiang_sid", "2100582LauJunXiang".name AS "2100582LauJunXiang_name", "2100582LauJunXiang".grade AS "2100582LauJunXiang_grade"
FROM "2100582LauJunXiang"
2022-12-31 18:12:36,312 INFO sqlalchemy.engine.Engine [cached since 0.07875s ago] ()
[(2100582) Lau Jun Xiang NA, (2102345) Arya Stark A-, (2103456) Jon Snow NA]
2022-12-31 18:12:36,313 INFO sqlalchemy.engine.Engine SELECT "2100582LauJunXiang".sid AS "2100582LauJunXiang_sid", "2100582LauJunXiang".name AS "2100582LauJunXiang_name", "2100582LauJunXiang".grade AS "2100582LauJunXiang_grade"
FROM "2100582LauJunXiang"
2022-12-31 18:12:36,313 INFO sqlalchemy.engine.Engine [cached since 0.08059s ago] ()
SID: 2100582 Name: Lau Jun Xiang Grade: NA
SID: 2102345 Name: Arya Stark Grade: A-
SID: 2103456 Name: Jon Snow Grade: NA

In [125]:
# Question 6
# UPDATE Jon Snow grade to A+, then display all table

JonSnow = session.query(Student).get(2103456)
print(JonSnow.name)

JonSnow.grade = "A+"
session.commit()
 
if session.query(Student).count() > 0:
    for row in session.query(Student).all():
        print("SID: " + str(row.sid) + " Name: " + row.name + " Grade: " + row.grade)
else:
    print("Empty Table!")

Jon Snow
2022-12-31 18:12:36,340 INFO sqlalchemy.engine.Engine UPDATE "2100582LauJunXiang" SET grade=? WHERE "2100582LauJunXiang".sid = ?
2022-12-31 18:12:36,341 INFO sqlalchemy.engine.Engine [cached since 0.03829s ago] ('A+', 2103456)
2022-12-31 18:12:36,341 INFO sqlalchemy.engine.Engine COMMIT
2022-12-31 18:12:36,342 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-31 18:12:36,343 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT "2100582LauJunXiang".sid AS "2100582LauJunXiang_sid", "2100582LauJunXiang".name AS "2100582LauJunXiang_name", "2100582LauJunXiang".grade AS "2100582LauJunXiang_grade"
FROM "2100582LauJunXiang") AS anon_1
2022-12-31 18:12:36,343 INFO sqlalchemy.engine.Engine [cached since 0.1399s ago] ()
2022-12-31 18:12:36,343 INFO sqlalchemy.engine.Engine SELECT "2100582LauJunXiang".sid AS "2100582LauJunXiang_sid", "2100582LauJunXiang".name AS "2100582LauJunXiang_name", "2100582LauJunXiang".grade AS "2100582LauJunXiang_grade"
FROM "2100582LauJunXiang"
2022-12-31 18:12:36,344 INFO sqlalchemy.engine.Engine [cached since 0.1109s ago] ()
SID: 2100582 Name: Lau Jun Xiang Grade: NA
SID: 2102345 Name: Arya Stark Grade: A-
SID: 2103456 Name: Jon Snow Grade: A+

In [126]:
# Question 7
# DELETE Arya Stark. Display all rows.

session.delete(AryaStark)
session.commit()

if session.query(Student).count() > 0:
    for row in session.query(Student).all():
        print("SID: " + str(row.sid) + " Name: " + row.name + " Grade: " + row.grade)
else:
    print("Empty Table!")

2022-12-31 18:12:36,363 INFO sqlalchemy.engine.Engine DELETE FROM "2100582LauJunXiang" WHERE "2100582LauJunXiang".sid = ?
2022-12-31 18:12:36,364 INFO sqlalchemy.engine.Engine [generated in 0.00061s] (2102345,)
2022-12-31 18:12:36,364 INFO sqlalchemy.engine.Engine COMMIT
2022-12-31 18:12:36,366 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-31 18:12:36,366 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT "2100582LauJunXiang".sid AS "2100582LauJunXiang_sid", "2100582LauJunXiang".name AS "2100582LauJunXiang_name", "2100582LauJunXiang".grade AS "2100582LauJunXiang_grade"
FROM "2100582LauJunXiang") AS anon_1
2022-12-31 18:12:36,366 INFO sqlalchemy.engine.Engine [cached since 0.1633s ago] ()
2022-12-31 18:12:36,367 INFO sqlalchemy.engine.Engine SELECT "2100582LauJunXiang".sid AS "2100582LauJunXiang_sid", "2100582LauJunXiang".name AS "2100582LauJunXiang_name", "2100582LauJunXiang".grade AS "2100582LauJunXiang_grade"
FROM "2100582LauJunXiang"
2022-12-31 18:12:36,367 INFO sqlalchemy.engine.Engine [cached since 0.1344s ago] ()
SID: 2100582 Name: Lau Jun Xiang Grade: NA
SID: 2103456 Name: Jon Snow Grade: A+

In [127]:
# Question 8
# Delete all students

if session.query(Student).count() > 0:
    for rows in session.query(Student).all():
        session.delete(rows)
    session.commit()
    
    for row in session.query(Student).all():
        print("SID: " + str(row.sid) + " Name: " + row.name + " Grade: " + row.grade)
else:
    print("Empty Table!")

2022-12-31 18:12:36,387 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT "2100582LauJunXiang".sid AS "2100582LauJunXiang_sid", "2100582LauJunXiang".name AS "2100582LauJunXiang_name", "2100582LauJunXiang".grade AS "2100582LauJunXiang_grade"
FROM "2100582LauJunXiang") AS anon_1
2022-12-31 18:12:36,388 INFO sqlalchemy.engine.Engine [cached since 0.1848s ago] ()
2022-12-31 18:12:36,388 INFO sqlalchemy.engine.Engine SELECT "2100582LauJunXiang".sid AS "2100582LauJunXiang_sid", "2100582LauJunXiang".name AS "2100582LauJunXiang_name", "2100582LauJunXiang".grade AS "2100582LauJunXiang_grade"
FROM "2100582LauJunXiang"
2022-12-31 18:12:36,388 INFO sqlalchemy.engine.Engine [cached since 0.1557s ago] ()
2022-12-31 18:12:36,389 INFO sqlalchemy.engine.Engine DELETE FROM "2100582LauJunXiang" WHERE "2100582LauJunXiang".sid = ?
2022-12-31 18:12:36,389 INFO sqlalchemy.engine.Engine [generated in 0.00024s] ((2100582,), (2103456,))
2022-12-31 18:12:36,390 INFO sqlalchemy.engine.Engine COMMIT
2022-12-31 18:12:36,391 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-31 18:12:36,391 INFO sqlalchemy.engine.Engine SELECT "2100582LauJunXiang".sid AS "2100582LauJunXiang_sid", "2100582LauJunXiang".name AS "2100582LauJunXiang_name", "2100582LauJunXiang".grade AS "2100582LauJunXiang_grade"
FROM "2100582LauJunXiang"
2022-12-31 18:12:36,391 INFO sqlalchemy.engine.Engine [cached since 0.1583s ago] ()