# Question 1

In [105]:
import sqlalchemy as db
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

Base = declarative_base()

# Question 1: Create Table.
# Table Name = sID + Name
# Three Columns, sid (Integer, Primary), Name and Grade
class Students(Base):

    __tablename__ = "CSC2008LauJunXiang"

    sid = db.Column("sid", db.Integer, primary_key = True)
    name = db.Column("name", db.String)
    grade = db.Column("grade", db.String)

    def __init__(self, sid, name, grade):
        self.sid = sid
        self.name = name
        self.grade = grade

    def __repr__(self):
        return f"({self.sid}) {self.name} {self.grade}"

# Create the database to run.
# No specification to use specific database, so I chose to use SQLite.

engine = db.create_engine("sqlite:///jx.db", echo = False)
Base.metadata.create_all(bind=engine)
Session = sessionmaker(bind=engine)
session = Session()

# Question 2

In [106]:
# Question 2
# Check if table is empty
# If not, display all rows.
if session.query(Students).count() > 0:
    for row in session.query(Students).all():
        print("SID: " + str(row.sid) + " Name: " + row.name + " Grade: " + row.grade)
else:
    print("Empty Table!")

Empty Table!

# Question 3

In [107]:
# Question 3
# Add new student (myself)
# sid = student id
# name = my name
# grade = NA

if session.query(Students).filter_by(name = "Lau Jun Xiang").count() < 1:
    student1 = Students(2100582, "Lau Jun Xiang", "NA")
    session.add(student1)
    session.commit()

if session.query(Students).count() > 0:
    for row in session.query(Students).all():
        print("SID: " + str(row.sid) + " Name: " + row.name + " Grade: " + row.grade)
else:
    print("Empty Table!")

SID: 2100582 Name: Lau Jun Xiang Grade: NA

# Question 4

In [108]:
# Question 4
# insert two more students
# (with sid 2102345, name ‘Arya Stark’, and grade ‘NA’)
# (with sid 2103456, name ‘Jon Snow’, and grade ‘NA’)

if session.query(Students).filter_by(name = "Arya Stark").count() < 1:
    student2 = Students(2102345, "Arya Stark", "NA")
    session.add(student2)
    session.commit()

if session.query(Students).filter_by(name =  "Jon Snow").count() < 1:
    student3 = Students(2103456, "Jon Snow", "NA")
    session.add(student3)
    session.commit()

if session.query(Students).count() > 0:
    for row in session.query(Students).all():
        print("SID: " + str(row.sid) + " Name: " + row.name + " Grade: " + row.grade)
else:
    print("Empty Table!")

SID: 2100582 Name: Lau Jun Xiang Grade: NA
SID: 2102345 Name: Arya Stark Grade: NA
SID: 2103456 Name: Jon Snow Grade: NA

# Question 5

In [109]:
# Question 5
# UPDATE Arya Stark grade to A-

AryaStark = session.query(Students).get(2102345)
# AryaStark = session.query(Students).filter(Students.name == 'Arya Stark')
#print(AryaStark.name)

AryaStark.grade = "A-"
session.commit()

#session.query(Students).scalar
#session.query(Students).one

if session.query(Students).count() > 0:
    for row in session.query(Students).all():
        print("SID: " + str(row.sid) + " Name: " + row.name + " Grade: " + row.grade)
else:
    print("Empty Table!")

SID: 2100582 Name: Lau Jun Xiang Grade: NA
SID: 2102345 Name: Arya Stark Grade: A-
SID: 2103456 Name: Jon Snow Grade: NA

# Question 6

In [110]:
# Question 6
# UPDATE Jon Snow grade to A+, then display all table

JonSnow = session.query(Students).get(2103456)
#print(JonSnow.name)

JonSnow.grade = "A+"
session.commit()
 
if session.query(Students).count() > 0:
    for row in session.query(Students).all():
        print("SID: " + str(row.sid) + " Name: " + row.name + " Grade: " + row.grade)
else:
    print("Empty Table!")

SID: 2100582 Name: Lau Jun Xiang Grade: NA
SID: 2102345 Name: Arya Stark Grade: A-
SID: 2103456 Name: Jon Snow Grade: A+

# Question 7

In [111]:
# Question 7
# DELETE Arya Stark. Display all rows.

session.delete(AryaStark)
#session.query(Students).delete()
session.commit()

if session.query(Students).count() > 0:
    for row in session.query(Students).all():
        print("SID: " + str(row.sid) + " Name: " + row.name + " Grade: " + row.grade)
else:
    print("Empty Table!")

SID: 2100582 Name: Lau Jun Xiang Grade: NA
SID: 2103456 Name: Jon Snow Grade: A+

# Question 8

In [112]:
# Question 8
# Delete all students

if session.query(Students).count() > 0:
    for rows in session.query(Students).all():
        session.delete(rows)
    session.commit()

if session.query(Students).count() > 0:
    for row in session.query(Students).all():
        print("SID: " + str(row.sid) + " Name: " + row.name + " Grade: " + row.grade)
else:
    print("Empty Table!")

Empty Table!