# Question 1

In [94]:
import sqlite3

conn = sqlite3.connect('music.sqlite')

cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Tracks')

cur.execute('CREATE TABLE Tracks (title TEXT, plays INTEGER)')

conn.commit()

# Question 2

In [95]:

cur.execute('INSERT INTO Tracks (title, plays) VALUES ("We Don’t Talk About Bruno", 20)')
cur.execute('INSERT INTO Tracks (title, plays) VALUES ("Levitating", 15)')

conn.commit()

# Question 3

In [96]:


cur.execute('SELECT * FROM Tracks')

conn.commit()

for i in cur:
    print(i)

('We Don’t Talk About Bruno', 20)
('Levitating', 15)

# Question 4

In [97]:
cur.execute('SELECT * FROM Tracks')
allTracks = cur.fetchone()

for i in allTracks:
    print(i)

We Don’t Talk About Bruno
20

# Question 5

In [98]:
cur.execute('SELECT * FROM Tracks')

allTracks = cur.fetchall()

print(allTracks)

[('We Don’t Talk About Bruno', 20), ('Levitating', 15)]

# Question 6

In [99]:
cur.execute('UPDATE Tracks SET plays = 100 WHERE title = "We Don’t Talk About Bruno"')
conn.commit()

cur.execute('SELECT * FROM Tracks')
getTracks = cur.fetchall()

print(getTracks)

[('We Don’t Talk About Bruno', 100), ('Levitating', 15)]

# Question 7

In [100]:
cur.execute('DELETE FROM Tracks WHERE plays = 5')
conn.commit()

cur.execute('SELECT * FROM Tracks')
getTracks = cur.fetchall()

print(getTracks)

[('We Don’t Talk About Bruno', 100), ('Levitating', 15)]

# Question 8

In [101]:
conn2 = sqlite3.connect('order.db')
cur2 = conn2.cursor()

cur2.execute('DROP TABLE IF EXISTS customers')
cur2.execute('DROP TABLE IF EXISTS orders')

cur2.execute('CREATE TABLE customers(customer_id INTEGER PRIMARY KEY, customer_name TEXT ) ')

cur2.execute('CREATE TABLE orders(order_id TEXT PRIMARY KEY, customer_id INTEGER, amount DOUBLE, FOREIGN KEY (customer_id) REFERENCES customers (customer_id) ) ')

conn2.commit()

# Question 9

In [102]:
cur2.execute('INSERT INTO customers VALUES (1, "Arya")')
cur2.execute('INSERT INTO customers VALUES (2, "Jon")')
cur2.execute('INSERT INTO customers VALUES (3, "Robb")')
cur2.execute('INSERT INTO customers VALUES (4, "Jun Xiang")')
conn2.commit()

cur2.execute('SELECT * FROM customers')
getAll = cur2.fetchall()
print(getAll)

[(1, 'Arya'), (2, 'Jon'), (3, 'Robb'), (4, 'Jun Xiang')]

# Question 10

In [103]:
cur2.execute('INSERT INTO orders VALUES ("01", 1, 19.99)')
cur2.execute('INSERT INTO orders VALUES ("02", 1, 66.66)')
cur2.execute('INSERT INTO orders VALUES ("03", 3, 17.56)')
cur2.execute('INSERT INTO orders VALUES ("04", 4, 88.88)')
conn2.commit()

cur2.execute('SELECT * FROM orders')
getAll = cur2.fetchall()
print(getAll)

[('01', 1, 19.99), ('02', 1, 66.66), ('03', 3, 17.56), ('04', 4, 88.88)]

# Question 11

In [104]:
cur2.execute('SELECT * FROM customers c JOIN orders o ON c.customer_id = o.order_id')

getAll = cur2.fetchall()
print(getAll)

[(1, 'Arya', '01', 1, 19.99), (2, 'Jon', '02', 1, 66.66), (3, 'Robb', '03', 3, 17.56), (4, 'Jun Xiang', '04', 4, 88.88)]

# Question 12

In [105]:
cur2.execute('SELECT c.customer_name, o.order_id FROM customers c JOIN orders o ON c.customer_id = o.order_id WHERE o.amount > 15')

getAll = cur2.fetchall()
print(getAll)

[('Arya', '01'), ('Jon', '02'), ('Robb', '03'), ('Jun Xiang', '04')]